/* body {
    background: #0e68b4;
} */

/* .selector-for-some-widget {
    box-sizing: content-box;
}

.header {
    background: #d9eeff;
    height: 50px;
}

.content {
    background: #fffff0;
    height:680px;
}

.footer{
    background: #d9eeff;
    height: 50px;
} */