<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="CoreyQiu">
    <title>Using Script</title>
    <!-- core bootstrap css -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <!-- component css -->
    <link rel="stylesheet" href="https://v4.bootcss.com/docs/4.0/examples/navbar-fixed/navbar-top-fixed.css">
    <link href="https://v4.bootcss.com/docs/4.0/examples/sticky-footer/sticky-footer.css" rel="stylesheet">
    <link rel="stylesheet" href="https://v4.bootcss.com/docs/4.0/examples/navbars/navbar.css">
    <link rel="stylesheet" href="https://v4.bootcss.com/docs/4.0/examples/checkout/form-validation.css">
    <!-- core bootstrap js -->
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <!-- code mirror css&js -->
    <link rel="stylesheet" href="/CodeMirror/lib/codemirror.css">
    <script src="/CodeMirror/lib/codemirror.js"></script>
    <script src="/CodeMirror/mode/javascript/javascript.js"></script>
    <script src="/CodeMirror/mode/python/python.js"></script>
    <script src="/CodeMirror/addon/edit/matchbrackets.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.js"></script>
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.4.1.min.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.4.1.js"></script> 

</head>

<body class="bg-light">
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow fixed-top">
    <a class="my-0 mr-md-auto font-weight-normal" href="index.html" style="color:black;font-size: 20pt;text-decoration:none">Auto-Script
        Platform</a>
    <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-dark" href="index.html" style="text-decoration:none">Scripts Market</a>
        <a class="p-2 text-dark" href="Upload.html" style="text-decoration:none">Upload Scripts</a>
        <a class="dropdown-toggle p-2 text-dark" href="#" style="color: black;text-decoration: none" role="button"
           id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Management
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" href="MyInfo">My Profile</a>
            <a class="dropdown-item" href="MyResults">My Results</a>
        </div>
    </nav>
    <a class="btn btn-outline-primary" href="/scriptsMarket">Back</a>
</div>

<div class="container pl-5 pr-5 pt-md-4 ">

    <h3 class="mb-3 text-center">Using Script</h3>
    <p class="card-text" th:text="${description}">Can calculate functions.</p>
    <table class="table  table-hover text-center" id="trr">
        <thead>
        <tr>
            <th scope="col">Parameters</th>
            <th scope="col">Input</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="parameter,iterStat:${parameterList}">
            <td th:text="${iterStat.count}">1</td>
            <td><input name="p" placeholder="e.g. 11611127"/></td>
        </tr>
        </tbody>
    </table>
    <a class="btn btn-outline-primary btn-sm" onclick="fun1()", href="/MyResults">Commit</a>


</div>
</body>
<script>
    function fun1(){
        var jsonStr = "";
        for(var i = 1;i<$("#trr tr").length;i++){
            var count = $("#trr tr:eq("+i+")").children().eq(1).find("input").val();
            jsonStr +="{\"count\":\""+count+"\"},";
        }
        jsonStr = jsonStr.substring(0,jsonStr.length-1)+"";
        console.info(jsonStr);
        $.ajax({
            url: '/submitTest',
            data: jsonStr,
            type: 'post',
            dataType: "json",
            success: function (jsonStr) {
                $.messager.alert("提示", "成功", "info");
            }
        });
    }
</script>

</html>